/* WspÃ³lny styl dla wszystkich przyciskÃ³w */
.button-common {
    background-image: linear-gradient(to right, #cb1111 0%, #432929 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    outline: none;
}

.button-common:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.button-common:active {
    transform: scale(0.95);
}

/* Oznaczenie aktywnego przycisku dla gildii */
.active-guild {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.
